/* .THIS .ta-card-title {
    font-size: 4vw;
    font-weight: 800;
    color: white;
    text-transform: capitalize;
    padding: 2vw 0vw;
}

.THIS .ta-service-container {
    background: transparent;
    border-top: 0.3vw solid white;
    padding-top: 6vw;
}

.THIS .ta-service-icon {
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 1.5vw;
}

.THIS .ta-service-icon-atc {
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 1vw;
}

.THIS .ta-service-title {
    font-size: 3.3vw;
    font-weight: 800;
    color: white;
    text-transform: capitalize;
}

.THIS .ta-service-description {
    font-size: 3.3vw;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.THIS .ta-service-icon-text {
    font-size: 3.3vw;
    font-weight: 300;
    color: white;
}

.THIS .ta-service-box {
    border: .2vw solid white;
    border-radius: 2.5vw;
    padding: 1.8vw;
    width: 37vw;;
    background: rgba(0, 201, 131, .6);
}

.THIS .ta-service-box-atc {
    border: .2vw solid white;
    border-radius: 2.5vw;
    padding: 1.8vw;
    width: 31vw;
    background: #461e7d;
}

.THIS .ta-service-box-added {
    border: .2vw solid white;
    border-radius: 2.5vw;
    padding: 1.8vw;
    width: 33vw;
    background: #461e7d;
}

.THIS .ta-service-price {
    font-size: 4vw;
    font-weight: 800;
    color: white;
}

.THIS .ta-button-primary-modal {
    color: #ffffff;
    box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #0d0713 0%, #3c2462 100%);
    border: 1px solid linear-gradient(45deg, #0d0713 0%, #3c2462 100%);
    padding: 1vw 5vw 1vw 5vw;
    text-transform: uppercase;
    border-radius: 5vw;
    font-weight: 800;
    font-size: 3.5vw;
    text-transform: uppercase;
    min-width: 35vw;
    width: 100%;
    height: 12vw;
}

.THIS .ta-button-primary {
    color: #ffffff;
    box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #0d0713 0%, #3c2462 100%);
    border: none;
    width: 100%;
    padding: 2vw;
    text-transform: uppercase;
    border-radius: 10vw;
    font-weight: 800;
    height: 12vw;
}
  
.THIS .ta-button-closing {
    color: #ff006e;
    box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border: 1px solid #ff006e;
    width: 100%;
    padding: 2vw;
    text-transform: uppercase;
    border-radius: 10vw;
    font-weight: 800;
    height: 12vw;
}

.THIS .ta-modal-info-title {
    font-size: 4vw;
    font-weight: 800;
}

.THIS .ta-modal-info-description {
    font-size: 3.3vw;
} */

/* CUSTOM-TAG */
.THIS .ta-modal-info-body {
    padding: 2vw 0vw 4vw 0vw;
    height: 60vw;
    overflow-y: auto;
}

/* .THIS .ta-modal-info-container {
    position: absolute;
    margin: 5vw 10vw 10vw 10vw;
    z-index: -1;
    background: white;
    top: 80vw;
    border-radius: 5vw;
    box-shadow: 0 0vw 1vw 0vw black;
} */

/* CUSTOM-TAG */
.THIS .ta-border-top {
    border-top: .3vw solid white;
    padding-top: 4vw;
    margin-top: 5vw;
}

/* .THIS .ta-border-top-2 {
    border-top: .3vw solid white;
    padding-top: 2vw;
    margin-top: 5vw;
}

.THIS .ta-modal-header {
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    padding: 5vw;
}

.THIS .ta-modal-header-button {
    height: inherit;
    width: 5vw;
}

.THIS .ta-modal-footer {
    background: white;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    padding: 3vw;
}

.THIS .ta-modal-body {
    padding: 3vh;
    height: 30vh;
    overflow-y: auto;
}

.THIS .ta-animation-pop-in {
    animation: pop-in 0.5s;
    -webkit-animation-name: pop-in 0.5s;
    animation-name: pop-in 0.5s;
}

@keyframes pop-in {
    0% {
      -webkit-transform: scale3d(0,0,0);
      transform: scale3d(0,0,0);
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    40% {
      -webkit-animation-timing-function: cubic-bezier(0.47,0,0.745,0.715);
      animation-timing-function: cubic-bezier(0.47,0,0.745,0.715);  
    }
  
    60% {
      -webkit-animation-timing-function: cubic-bezier(0.42,0,0.58,1);
      animation-timing-function: cubic-bezier(0.42,0,0.58,1);
      -webkit-transform: scale3d(1.08,1.08,1.08);
      transform: scale3d(1.08,1.08,1.08);
    }
  
    80% {
      -webkit-animation-timing-function: cubic-bezier(0.42,0,0.58,1);
      animation-timing-function: cubic-bezier(0.42,0,0.58,1);
    }
  
    100% {
      -webkit-animation-timing-function: cubic-bezier(0.25,0.46,0.45,0.94);
      animation-timing-function: cubic-bezier(0.25,0.46,0.45,0.94);
      -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1);
    }
} 

.THIS.ta-modal-bg {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(70, 30, 125, 0.8);
    height: 100vh;
    width: 100vw;
}
*/

/* CUSTOM-TAG */
.THIS .ta-modal-container-2 {
    position: absolute;
    margin: 5vw 10vw 10vw 10vw;
    z-index: -1;
    background: white;
    top: 12vh;
    border-radius: 5vw;
    box-shadow: 0 0vw 1vw 0vw black;
}

/* .THIS .slds-select_container .slds-select {
    padding-left: 4vw !important;
    border-radius: 5vw !important;
    background: #ece8f2 !important; 
    color: rgb(70, 30, 125) !important;
}

.THIS .slds-select_container:before, .THIS .slds-select_container:after {
    right: 3.5vw !important;
}

.THIS .slds-select_container {
    margin: 0 3vw 4vw 0;
}

.THIS .slds-select_container .slds-select {
    font-size: 3.3vw !important;
}

.THIS .slds-select_container::before, .THIS .slds-select_container::after {
    color: black;
} */

/* CUSTOM-TAG */
.THIS .slds-form-element__label {
    display: none !important;
}

/* .THIS .ta-mp-selected {
    position: absolute;
    background: #ff006e;
}

.THIS .ta-accordion-header-button {
    font-size: 3.5vw;
    font-weight: 100;
    border: 1px solid white;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 2.5vw;
    color: white;
    background: transparent;
    text-transform: capitalize;
} */

/* CUSTOM-TAG */
.THIS .slds-input {
    border-radius: 5vw !important;
    background-color: rgb(255, 255, 255, 1) !important;
    color: #461e7d !important;
    height: 9vw;
    width: 49vw;
}

/* CUSTOM-TAG */
.THIS .slds-form-element__label, .THIS .xc-color-grey {
    font-size: 3.3vw !important;
    text-transform: capitalize !important;
    font-weight: 800 !important;
    color: rgb(255, 255, 255, 0.6) !important;
}

/* .THIS .ta-voucher-description {
    font-size: 3.3vw;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.THIS .ta-button-simple {
    text-align: center;
    color: white;
    border: .2vw solid white;
    padding: 1.5vw;
    border-radius: 5vw;
    height: 9vw;
    font-size: 3.3vw;
    font-weight: 300;
}

.THIS .ta-modal-title {
    font-size: 4vw;
    font-weight: 800;
    color: black;
}

.THIS .ta-modal-subtitle {
    font-size: 4vw;
    font-weight: 100;
    color: black;
} */

/* CUSTOM-TAG */
.THIS .ta-discount-not-found {
    font-size: 3.3vw;
    color: #ff006e;
    margin: 20vw 0vw;
}

/* .THIS .ta-modal-label {
    font-size: 4vw;
    font-weight: 800;
    color: black;
    text-align: left;
    padding-left: 5vw;
}

.THIS .ta-modal-text {
    font-size: 4vw;
    font-weight: 100;
    color: black;
    text-align: left;
    padding-left: 5vw;
} */

/* CUSTOM-TAG */
.THIS .ta-margin-top {
    margin-top: 10vw;
}

/* .THIS .ta-voucher-code {
    font-size: 3.3vw;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.THIS .ta-voucher-discount {
    font-size: 4vw;
    font-weight: 800;
    color: white;
}

.THIS .ta-voucher-code-section:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
    padding-toP: 4vw; 
    margin-top: 5vw;
}

.THIS .ta-cart-total-amount-label {
    color: white;
    font-weight: 800;
    font-size: 4vw;
} 
.THIS .ta-cart-total-amount-value {
    color: white;
    font-weight: 800;
    font-size: 4vw;
    padding: 1.5vw 3vw;
    background: #ff006e;
    border-radius: 5vw;
    margin-left: 1vw;
} */

/* CUSTOM-TAG */
.THIS .ta-button-simple {
    padding: 2vw;
    border-radius: 5vw;
}

/* .THIS .slds-input, .THIS .slds-select, .THIS .slds-input:focus, .THIS .slds-input:active {
    background-color: #ece8f2 !important;
    border: 1px solid #ece8f2 !important;
    border-radius: 5vw !important;
    color: #461e7d !important;
    height: 9vw;
} */

/* CUSTOM-TAG TABLET */
@media only screen and (min-width: 601px) {
    /*.THIS .ta-cart-total-amount-value {
        color: white;
        font-weight: 800;
        font-size: 3vw;
        padding: 1.5vw 3vw;
        background: #ff006e;
        border-radius: 5vw;
        margin-left: 1vw;
    }
    
    .THIS .ta-modal-container {
        position: absolute;
        margin: 0vw !important;
        z-index: -1;
        background: white;
        top: 12vh;
        border-radius: 5vw;
        box-shadow: 0 0vw 1vw 0vw black;
    } 

    .THIS.ta-modal-bg {
        z-index: 5 !important;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(70, 30, 125, 0.8);
        height: 100vh;
        width: 100vw;
    } */

    /* CUSTOM-TAG */
    .THIS .ta-button-simple {
        margin-top: 1.5vw;
    }
}