/* .THIS .ta-accordion-header {
    color:white;
    padding: 4vw 5vw 5vw 5vw;   
}

.THIS .ta-accordion-open {
    border-radius: 2vw;
} */


/* .THIS .slds-button:hover   {
    color:#461e7d !important;
}
.THIS .slds-accordion__list-item{
    border-top-style: none !important;
}
.THIS p {
    font-family: Montserrat;
    font-size: 3.3vw !important;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}
.THIS .slds-accordion__summary {
    border: 1px solid white;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 2.5vw;
}
.THIS h3 {
    font-size: 3.5vw;
    font-weight: 100;
    color: white;
    background: transparent;
    text-transform: capitalize;
} */

/* .THIS .ta-height {
    height: 11vw;
}

.THIS .ta-title {
    font-size: 4vw;
    color: white;
    font-weight: 800;
    text-transform: capitalize;
    border-bottom: .5vw solid white;
}

.THIS .ta-accordion-header-icon {
    width: 9vw;
    margin-top: 2vw;
}

.THIS .ta-accordion-container {
    margin: 4vw 0vw 0vw 0vw;
    background: rgba(255,255,255,0.2);
    padding: 2.5vw;
    border-radius: 2.5vw;
}

.THIS .ta-accordion-body {
    padding-top: 2.5vw;
    margin-top: 3vw;
    border-top: 2px solid rgba(255, 255, 255);
    color: rgba(255, 255, 255);
}

.THIS .ta-accordion-header {
    font-size: 3.3vw;
    font-weight: 800;
} */