/* CUSTOM-TAG */
.THIS .ta-modal-container {
    background: white;
    border-radius: 5vw;
    position: absolute;
    z-index: 1;
    left: 5vw;
    right: 5vw;
    top: 15vh;
    padding: 3vh 6vw 8vh 6vw;
    margin: 0;
    width: 90vw;
}

.THIS .slds-modal__content{
    color: #461e7d !important;
}

/* CUSTOM-TAG */
.THIS .ta-modal-body {
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3vw 0 0 0 !important;
}

/* CUSTOM-TAG */
.THIS .ta-field-input .slds-select:active {
    border: inherit;
    box-shadow: none;
}

/* CUSTOM-TAG */
.THIS .ta-field-input .slds-select:focus {
    border: inherit;
    box-shadow: none;
}

/* CUSTOM-TAG */
.THIS .slds-input, .THIS .slds-select, .THIS .slds-input:focus, .THIS .slds-input:active, .THIS .slds-faux-input, .THIS .slds-pill_container, .THIS .slds-pill {
    background-color: #ece8f2 !important;
    border: 1px solid #ece8f2 !important;
    border-radius: 5vw !important;
    color: #461e7d !important;
    height: 8vw;
}

/* CUSTOM-TAG */
.THIS .slds-input[readonly], .THIS .slds-faux-input[readonly] {
    background-color: transparent !important;
    border: none !important;
    color: #461e7d !important;
    height: 8vw;
}

/* CUSTOM-TAG */
.THIS .slds-button.slds-button_brand, .THIS .slds-button[name="insert"] {
    color: #ffffff;
    box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #0d0713 0%, #3c2462 100%);
    border: 1px solid black;
    padding: 1vw 5vw 1vw 5vw;
    border-radius: 5vw;
    font-weight: 800;
    font-size:3.5vw;
    text-transform: uppercase;
    height: 9vw;
    width: 35vw;
}

/* CUSTOM-TAG */
.THIS .slds-form-element__label {
    padding-top: 4vw !important;
    color: #00000C !important;
}
.THIS .text-area{
    color: #461e7d !important;
}
/* CUSTOM-TAG */
.THIS .slds-m-top_small.slds-size_12-of-12 .slds-form-element .slds-form-element__label {
    display: none;
}
.THIS .ta-accordion-header{
    color: rgba(0, 0, 0, 0.8) !important;
}

.THIS .ta-edit-form-button-container-modal {
    position: fixed;
    top: 73vh;
    left: 5vw;
    width: 90vw;
    padding: 0 6vw;
}