.THIS .spins::after {
    position: absolute;
    content: 'Please wait while project tasks are being created';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}