.THIS .ta-modal-container{
    margin: 0;
    top: 10vh;
    left: 10vw;
    right: 10vw;
}

.THIS .ta-modal-body {
    max-height: 70vh;
    padding: 0;
    height: auto;
    margin: 2vh 3vw;
    width: 74vw;
}

.THIS .ta-modal-header {
    min-height: 8vh;
    padding-bottom: 1vh;
}

.THIS .slds-form-element__label{
    color: black !important;
}

@media only screen and (max-width: 600px) {
    /* .THIS .ta-appointment-card {  
        animation: 1s fadeIn;
        animation-fill-mode: forwards;
        border-bottom-right-radius: 6vw;
        border-top-right-radius: 6vw;
        width: 100%;
        height: 100%;
    } */

    .THIS .ta-bg-color-darkorange {
        background-color: darkorange;
    }

    .THIS .ta-bg-color-purple {
        background-color:#461e7d;
    }

    .THIS .ta-bg-color-green {
        background-color:#00c983;
    }
    
    .THIS .ta-bg-color-blue {
        background-color: #0070d2;
    }
}

@media screen and (min-width: 601px) {
    .THIS .ta-icon-size-small {
        margin-top: 1vw;
        margin-right: 1vw;
    }

    /* .THIS .ta-appointment-card {
        margin-bottom: 6vw !important;
    } */
}

.THIS .ta-appointment-bg {
    background-color: #ece8f2;
    border-radius: 2vw;
    height: 100%;
    padding: 1.5vh 3vw;
    border-left: 2vw solid #0070d2;
}

.THIS .ta-box-label {
    border-radius: 1.5vw;
    padding: .3vh 2vw;
    width: fit-content;
}

.THIS .ta-icon-size-small {
    width: 4vw;
}

.THIS .ta-select-category .slds-select_container {
    margin: 0;
}

.THIS .ta-appointment-card {
    box-shadow: 0vw 1vw 2vw -0.8vw black;
	border-radius: 2vw;
}