.THIS iframe {
    border-radius: 2vW;
    box-shadow: 0vw 1vw 2vw -0.8vw black;
}

/* .THIS .ta-short-description {
    margin-top: 9px;
    text-align: center;
} */

/* .THIS .slds-map_container {
    padding: 0;
} */