/**
 * Created by dpalamides on 16/10/2019.
 */
.THIS .slds-text-heading_small{
    font-weight: bold;
}

.THIS .slds-spinner_container  {
    background-color: rgba(0, 0, 0, 0.10);
    margin-top: 200px;
    margin-bottom: 200px; 
}